div {
    border: solid 1px black;
}
#mainBox {
    min-height: 500px;
    background-color: #eee;
    padding: 20px;
    border: 1px solid #999;
    margin: 20px auto;
}
#leftBox {
    position: relative;
    float: left;
    padding: 20px;
    background-color: white;
    width: 160px;
}
#leftBox span {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
}
#logo {
    background-color: #eee;
    display: block;
    width: 80px;
    height: 80px;
}
#rightBox {
    float:right;
    width:120px;
    border:1px solid black;
}
#rightBox .img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px;
}
#centerBox {
    margin-left:240px;
    margin-right:160px;;
    padding: 20px;
    background-color: white;
}