div {
    border: solid 1px black;
}
#mainBox {
    min-height: 500px;
    background-color: #eee;
    padding: 20px;
    border: 1px solid #999;
    margin: 20px auto;
}
#leftBox {
    float: left;
    padding: 20px;
    background-color: white;
    width: 160px;
}
.logo {
    background-color: #eee;
    display: block;
    width: 80px;
    height: 80px;
}
#rightBox {
    float:right;
    width:80px;
    border:1px solid black;
    padding: 20px;
}
#centerBox {
    margin-left:240px;
    margin-right:160px;;
    padding: 20px;
    background-color: white;
}